@* Payton Hatch *@
@* Group 4-6 *@
@{
    ViewData["Title"] = "Get to know Joel";
}
<h1>@ViewData["Title"]</h1>

@* Links to both external pages *@
<p>
    Welcome to Joel's get to know you page!

    Check out Quick Wits Comedy <a href="https://www.qwcomedy.com/">here</a>!
    <br />
    <br />
    Also, make sure to check out <a class="img-fluid" href="https://baconsale.com/">baconsale.com</a>
</p>

<br />

<div class="container-fluid text-center">
    <a href="https://baconsale.com/">
        <img src="~/BaconsaleKate.jpg" alt="Baconsale Team" class="img-fluid w-100" style="max-height: 90vh; object-fit: contain;">
    </a>
</div>


 

