@{
    ViewData["Title"] = "Get to know Joel";
}
<h1>@ViewData["Title"]</h1>

<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br />
<a class="img-fluid" href="https://baconsale.com/">
    Baconsale
    <br />
    <img src="~/BaconsaleKate.jpg" alt="Baconsale Team" />
</a>
 

